html,body{ 
	margin:0; 
	padding:0; 
	height:100%; 
	width:100%; 
	background-color: #ca4040;
}
/*Center content in center of page*/
#back{
	position: relative;
	top: 50%;

}

#page{
	border-bottom: 2px solid #fafafa ;
	display: inline-block;
}


input{

	font-family: 'Quicksand', sans-serif;
	outline: none;
	border: none;
	border-color: transparent;
	background-color: #00C851;
	color: #fafafa ;
}

#result{
	color: black;
}

#list{
	background-color: #00C851;
}

.fa-search{
	color: #ffbb33;
}

.fa-search:hover{
	color: #FF8800;
}

.fa-times-circle:hover{
	color: #212121;
}

.fa-times-circle{
	color: #fff;
}

.fa-paper-plane-o {
	color: #fff;
}

.fa-paper-plane-o:hover{
	color: #212121;
}

.collapsible-header{
	font-family: 'Quicksand', sans-serif;
}

.collapsible-body{
	font-family: 'Quicksand', sans-serif;
	color: #fff;
}

#random{
	position: relative;
	top: -1em;
	font-size: 30px;
	font-family: 'Pacifico', cursive;
}

#search-text{
	position: relative;
	top: 1em;
	font-size: 30px;
	font-family: 'Pacifico', cursive;
}

#submit{
	float: right;
}

.collapsible-header {
  font-weight: 700;
  font-size: 20px;
}
.collapsible-body {
  padding: 22px;
  font-weight: 500;
}
